body {
  background-color: #fff;
  font: normal 16px "Source Sans Pro", sans-serif, Arial;
}

h1 {
  font-family: "Oswald", sans-serif;
}

h2 {
  font-family: "Oswald", sans-serif;
}

h3 {
  font-family: "Oswald", sans-serif;
}

h4 {
  font-family: "Oswald", sans-serif;
}

h5 {
  font-family: "Oswald", sans-serif;
}

h6 {
  font-family: "Oswald", sans-serif;
}

button {
  font-family: "Oswald", sans-serif;
}

ul {
  list-style-type: none;
}

main {
  background-color: #f9f9f9;
}

#app-container {
  max-width: 1200px;
  margin: 0;
  position: relative;
}

.app-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
}

.app-logo {
  width: 64px;
  height: 64px;
  object-fit: contain;
}

.app-logo--small {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.app-title {
  font-size: 3.25rem;
  line-height: 3.2rem;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.app-subtitle {
  font-size: 1.5rem;
  line-height: 1.625rem;
  font-weight: 300;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif, Arial;
  width: 100%;
}

.app-section__button {
  background-color: #55C2D8;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
}

.app-header {
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  min-height: 64px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  padding: 0 140px;
}

.app-header__logo {
  color: white;
  justify-self: flex-start;
  align-self: flex-end;
  font-size: initial;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  text-decoration: none;
}

.app-header__nav {
  display: inline-block;
}

.app-header__nav-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 32px;
  justify-items: center;
  padding: 0;
  margin: 55px 0 0 0;
  list-style: none;
}

.app-header__nav-list-item {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2.4px;
}
.app-header__nav-list-item a {
  color: white;
  text-decoration: none;
}
.app-header__nav-list-item a:hover {
  text-decoration: underline;
}

.app-header__nav-menu-button {
  display: none;
  background-color: transparent;
  /*border: 1px solid transparent;*/
  /*border-radius: 3px;*/
  box-sizing: content-box;
  cursor: pointer;
  transition: all 0.25s ease-out;
  outline: none;
  /*padding: 6px;*/
  position: relative;
  user-select: none;
}

.app-header__nav-menu-button-icon {
  width: 28px;
  height: 18px;
  position: relative;
  display: inline-block;
  font-size: 0;
}
.app-header__nav-menu-button-icon span {
  background-color: white;
  position: absolute;
  border-radius: 2px;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 2px;
  left: 0;
  transform: rotate(0);
}
.app-header__nav-menu-button-icon span:nth-child(1) {
  top: 0;
}
.app-header__nav-menu-button-icon span:nth-child(2) {
  top: 8px;
  visibility: visible;
}
.app-header__nav-menu-button-icon span:nth-child(3) {
  bottom: 0;
}

.app-section--image-peak {
  background: linear-gradient(to top, rgba(65, 65, 65, 0.5), rgba(65, 65, 65, 0.5)), url(../../../public/assets/images/your-image-here.webp) no-repeat center/cover;
  height: 800px;
  max-width: 100%;
  color: white;
}

.app-section__article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 90px;
  margin: 0 140px;
}

.app-section__button--read-more {
  border-radius: 26px;
  font-size: 14px;
  height: 46px;
  letter-spacing: 1.2px;
  margin: 60px auto 108px;
  text-transform: uppercase;
  width: 135px;
}

.app-section--image-culture {
  background: linear-gradient(to top, rgba(65, 65, 65, 0.7), rgba(65, 65, 65, 0.7)), url(../../../public/assets/images/your-image.webp) no-repeat center/cover;
  height: 698px;
  max-width: 100%;
  color: white;
}

.app-section__button--our-culture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 64px auto;
  padding: 0;
  font-size: 4rem;
}

.app-section--image-join-our-program {
  background: linear-gradient(to top, rgba(65, 65, 65, 0.7), rgba(65, 65, 65, 0.7)), url(../../../public/assets/images/join-our-program.webp) no-repeat center/cover;
  height: 698px;
  max-width: 100%;
  color: white;
}

.app-section__form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 60px;
  width: 50%;
}

.app-section__input {
  background-color: rgba(255, 255, 255, 0.15);
  border: none;
  flex-grow: 1;
  font-family: "Source Sans Pro", sans-serif, Arial;
  color: white;
  padding: 10px 20px;
}

/*.hidden {*/
/*  display: none;*/
/*}*/

.app-section__input::placeholder {
  color: white;
}

.app-section__button--join-our-program {
  border-radius: 18px;
  font-size: 14px;
  font-weight: 400;
  height: 36px;
  letter-spacing: 1.1px;
  line-height: 26px;
  text-transform: uppercase;
  width: fit-content;
}

.app-gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 15px;
  justify-content: center;
  min-height: 399px;
}

.app-gallery li {
  display: flex;
  flex-direction: column;
  max-width: 315px;
  flex-grow: 1;
  /*border: solid 1px black;*/
  text-align: center;
}

.app-gallery li:hover {
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

.app-gallery li img {
  margin: 20px;
  width: 275px;
  height: 275px;
}

.app-gallery__name {
  font-weight: bold;
  margin-top: auto;
}

.app-footer {
  background-color: #3b3d40;
  color: white;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0 0;
  grid-template-areas: "logo logo address address . . ." ". . email email rights rights rights";
  align-items: flex-start;
  padding: 42px 140px 0;
  min-height: 148px;
}

.app-footer__logo {
  grid-area: logo;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.app-footer__address {
  grid-area: address;
  color: rgba(255, 255, 255, 0.3);
}

.app-footer__email {
  grid-area: email;
  color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
}

.app-footer__rights {
  grid-area: rights;
  justify-self: flex-end;
  color: rgba(255, 255, 255, 0.3);
  letter-spacing: 0.75px;
  margin: 0;
}

.app--hide-button {
  position: absolute;
  padding: 15px;
  right: 0;
  border-color: #bb260d;
  border-width: 2px;
  color: #bb260d;
}

.hidden {
  visibility: hidden;
}

.button--disabled {
  opacity: 0.5;
}

@media only screen and (max-width: 768px) {
  .app-header {
    display: flex;
    justify-content: space-between;
    /*grid-template-columns: 1fr 1fr;*/
    padding: 0 32px;
  }
  .app-header__nav-menu-button {
    display: inline-block;
    justify-self: flex-end;
    align-self: flex-end;
  }
  .app-header__nav {
    display: none;
  }
  .app-title {
    font-size: 3rem;
    width: 100%;
  }
  .app-section--image-peak {
    height: 648px;
  }
  .app-section--image-culture {
    height: 698px;
  }
  .app-section__button--our-culture {
    width: 70px;
    height: 70px;
    margin: 32px auto;
    font-size: 2rem;
  }
  .app-section__article {
    grid-template-columns: 1fr;
    gap: 0 0;
    margin: 0 16px;
  }
  .app-section__button--read-more {
    margin: 24px auto 48px;
  }
  .app-section__form {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .app-footer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas: "." "logo" "." "address" "address" "email" "." "." "rights";
    align-content: center;
    justify-content: center;
    padding: 0 32px 0;
  }
  .app-footer__rights {
    justify-self: flex-start;
  }
}
